.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  button {
    border-radius: 5px;
    padding: 15px;
    background-color: #005a34;
    color: #ffffff;
  }
}
