.container {
  height: 85%;
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
}

.selectBox {
  border: 2px solid #ededed;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    font-weight: 700;
  }
  &.active,
  &:hover {
    border: 3px solid #005a34;
  }
}
