.stepNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-top: 50px;
  div {
    border: 1px solid #ededed;
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    &.active {
      border: 2px solid #005a34;
    }
  }
}
