.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  height: calc(100vh - 40px);
  right: 0;
  left: 0;
  bottom: 0;
  gap: 20px;
  border-radius: 5px;
  z-index: 99;
  button {
    border-radius: 5px;
    padding: 15px;
    &.green {
      background-color: #005a34;
      color: white;
    }
    &.gray {
      background-color: #ededed;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-weight: 700;
  }
  .like {
    cursor: pointer;
    display: flex;
    gap: 5px;
  }
  .content {
    background-color: #ededed;
    height: 300px;
    padding: 10px;
  }
}

.commentItemContainer {
  .contentContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div > span {
      background-color: #005a34;
      padding: 0 7px;
      border-radius: 50%;
      color: white;
    }
    .authorContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
      }
    }
  }
}

.commentAddContainer {
  display: grid;
  grid-template-columns: 1fr 60px;
  gap: 10px;
}

.commentParentAddContainer {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 10px 1fr 60px;
  input {
    height: 40px;
  }
  button {
    padding: 10px;
  }
  gap: 10px;
}
