.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    div {
      font-weight: 700;
      font-size: 20px;
    }
    .imgContainer {
      width: 40px;
      height: 40px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        left: -2px;
        top: -80px;
      }
    }
  }
  .links {
    display: flex;
    gap: 20px;
    a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
    }
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
  .icons {
    display: flex;
    gap: 10px;
    svg {
      font-size: 22px;
    }
    @media only screen and (min-width: 701px) {
      display: none;
    }
  }
  .pcIcons {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}
