.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  .logo {
    font-weight: 700;
    font-size: 20px;
  }
  .icons {
    display: flex;
    gap: 10px;
    svg {
      font-size: 22px;
    }
  }
}
