body {
  box-sizing: border-box;
  background-color: rgb(253, 239, 208);
}

main {
  display: grid;
  grid-template-columns: 2fr 400px 1.5fr;
}

section {
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  position: relative;
}

article {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 500px;
  height: 100%;
  > h2 {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.form {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  label {
    font-size: 20px;
    font-weight: 700;
  }
  input {
    height: 30px;
  }
  input,
  textarea {
    border: 1px solid #ededed;
  }
  img {
    margin: 0 auto;
  }
  button {
    border-radius: 5px;
    padding: 15px;
    background-color: #005a34;
    color: #ffffff;
  }
  .notice {
    display: flex;
    justify-content: center;
    a {
      border-bottom: 1px solid #005a34;
      color: #005a34;
    }
  }
}
