body {
  box-sizing: border-box;
  background-color: rgb(253, 239, 208);
}

main {
  display: grid;
  grid-template-columns: 2fr 400px 1.5fr;
}

section {
  width: 400px;
  height: 900px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}

article {
  height: 100%;
  padding-top: 40px;
  > h2 {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 700;
  }
}

.registerForm {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    font-weight: 700;
  }
  button {
    background-color: pink;
    padding: 10px;
  }
}
